    github "NIFTYCloud-mbaas/ncmb_ios"
    github "SVProgressHUD/SVProgressHUD"
    github "willowtreeapps/Hyperion-iOS"
    github "airbnb/lottie-ios" "master"
    github "SwiftyJSON/SwiftyJSON"
    github "kirualex/SwiftyGif"
    github "kciter/Floaty"
    github "ealeksandrov/EAIntroView"
