    github "NIFTYCloud-mbaas/ncmb_ios"
    github "realm/realm-cocoa"
    github "sachinkesiraju/SKSplashView"
    github "HeroTransitions/Hero"
    github "zhxnlai/ZLSwipeableViewSwift"
    github "malcommac/Hydra"
    github "ReactiveX/RxSwift" "885637ebe2bf9fe17e9aaf0312f5daf4e7aae632"
    github "SVProgressHUD/SVProgressHUD"
    github "ninjaprox/NVActivityIndicatorView"
    github "willowtreeapps/Hyperion-iOS"
    github "airbnb/lottie-ios" "master"
    github "SwiftyJSON/SwiftyJSON"
    github "kirualex/SwiftyGif"
    github "kciter/Floaty"
